@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.cardPage {
    font-family: 'Roboto', sans-serif;
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 20px 20px
}

